<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.votegvp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VoteGvp">

        <activity android:name="com.example.votegvp.ResultsAdminActivity" />
        <activity android:name="com.example.votegvp.ResultsActivity" />
        <activity android:name="com.example.votegvp.VotingPageActivity" />
        <activity android:name="com.example.votegvp.ViewPartiesActivity" />
        <activity android:name="com.example.votegvp.AddPartyActivity" />
        <activity android:name="com.example.votegvp.ViewProfileActivity" />
        <activity android:name="com.example.votegvp.AdminHomeActivity" />
        <activity android:name="com.example.votegvp.AddVoterActivity" />
        <activity android:name="com.example.votegvp.AdminLoginActivity" />
        <activity android:name="com.example.votegvp.HomeActivity" />
        <activity android:name="com.example.votegvp.LoginActivity" />
        <activity android:name="com.example.votegvp.RegistrationActivity" />

        <activity
            android:name="com.example.votegvp.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>